<% @barberlist.each do |row| %>
      <option> <%= row['barbername'] %> </option>
      
      <% end %>

      <!-- <option <%= @barber == 'Jessie Pinkman' ? 'selected' : '' %>>Jessie Pinkman</option>
      <option <%= @barber == 'Walter White' ? 'selected' : '' %>>Walter White</option>
      <option <%= @barber == 'Gus Fring' ? 'selected' : '' %>>Gus Fring</option> -->